<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:insert="base :: head(NewPost)">
    </head>
    <body>
        <nav th:insert="base :: navbar"></nav>

        <h2>Nuevo Post</h2><hr />
        <form method="post" th:action="@{/post/save}">
            <div class="form-group">
                <label for="title">Titulo</label>
                <input name="title" type="text" class="form-control" id="title" >
            </div>
            <div class="form-group">
                <label for="summary">Resumen</label>
                <input name="summary" type="text" class="form-control" id="summary">
            </div>
            <div class="form-group">
                <label for="content">Contenido</label>
                <input name="content" type="text" class="form-control" id="content">
            </div>
            <div sec:authorize="isAuthenticated()" sec:authorize="hasAuthority('admin')"class="form-inline my-2 my-lg-0">
            <a th:href="@{/post/list}" class="btn btn-danger">Cancelar</a>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>

        </form>
    </body>
</html>

