<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:insert="base :: head(Post)">
    </head>
    <body>
        <nav th:insert="base :: navbar"></nav>

        <div class="container" id="contenido">
            <h2>Lista Departamentos</h2>

            <a th:href="@{/post/new}" class="btn btn-primary mt-4 mb-4" >Crear nuevo post</a>

            <table class="table table-sm">
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Nombre Autor</th>
                    <th>Resumen</th>
                    <th></th>
                </tr>
                <tr th:each="l: ${listaPost}">
                    <td th:text="${l.idpost}"></td>
                    <td th:text="${l.title}"></td>
                    <td th:text="${l.user.firstName} + ' ' +${l.user.lastName}"></td>
                    <td th:text="${l.summary}"></td>
                    <!--td><a th:href="@{|/shipper/editar'?'id=${shipper.shipperid}|}">Editar</a></td=-->
                    <td><a th:href="@{'/post/edit?id='+${l.idpost}}"class="btn btn-primary">Editar</a></td>
                    <td><a th:href="@{'/post/delete?id='+${l.idpost}}" class="btn btn-danger">Borrar</a></td>

                </tr>
            </table>
        </div>
    </body>
</html>